# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
android/app/.cxx/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release



# Build outputs
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
macos/Flutter/ephemeral/
linux/flutter/
windows/flutter/

# Logs
flutter_*.log

# Android
android/.gradle/
android/captures/
android/app/build/
android/local.properties
android/key.properties

# VS Code
.vscode/


# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Dart / Generated
pubspec.lock # (solo ignóralo SI ES UNA LIBRERÍA. Para apps, se recomienda mantenerlo)
generated_plugin_registrant.dart

# Web
build/web/

# OS files
Thumbs.db